---
import { work } from "@cv";

import Section from "@/components/Section.astro";
---

<Section title="Experiencia laboral">
    <ul>
        {
            work.map(
                ({
                    name,
                    position,
                    url,
                    startDate,
                    endDate,
                    summary,
                    highlights,
                }) => {
                    const startYear = new Date(startDate).getFullYear();
                    const endYear =
                        endDate !== null
                            ? new Date(endDate).getFullYear()
                            : "Actual";
                    const years = `${startYear} - ${endYear}`;

                    return (
                        <div>
                            <li>
                                <article>
                                    <header>
                                        <div>
                                            <a
                                                class="link"
                                                href={url}
                                                target="_blank"
                                                title={name}
                                                rel="noopener noreferrer"
                                            >
                                                {name}
                                            </a>
                                            {highlights && (
                                                <span class="highlights">
                                                    {highlights}
                                                </span>
                                            )}
                                            <h3>{position}</h3>
                                        </div>
                                        <time>{years}</time>
                                    </header>
                                    <footer>
                                        <p>{summary}</p>
                                    </footer>
                                </article>
                            </li>
                        </div>
                    );
                },
            )
        }
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    header {
        display: grid;
        margin-bottom: 0.7rem;
    }

    .link {
        color: #000;
        font-size: 1.1rem;
        font-weight: 700;
        transition: all 0.3s ease;
    }

    .link:hover {
        color: #555;
    }

    .highlights {
        background-color: #eaeaea;
        border-radius: 4px;
        font-size: 0.7rem;
        letter-spacing: 0.015rem;
        padding: 5px 8px;
    }

    time {
        color: #666;
        font-size: 0.9rem;
    }

    h3 {
        font-size: 1rem;
        font-weight: 300;
        padding-block: 0.2rem;
    }

    @container (width > 600px) {
        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 0;
        }
        h3 {
            padding-block: 0.7rem;
        }
    }
</style>
